@import "tailwindcss";


@layer components {
   .error {
      color: rgb(255, 0, 0);
      font-weight: bold;
      text-transform: uppercase;
      font-size: var(--text-4xl);
      text-align: center;
      padding: 1rem 3rem;
      max-width: 100%;
      word-break: break-all;
   }
}


