@import './fonts.css';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   /* --font-main: 'asd';
   --font-accent: 'asd'; */

   --color-primary-900: hsl(164, 100%, 5%);

   --color-neutral: hsl(180, 2%, 75%);
}

@layer components {
   .error {
      color: red;
      font-weight: bold;
      text-transform: uppercase;
      font-size: var(--text-4xl);
      text-align: center;
      padding: 1rem 3rem;
      max-width: 100%;
      word-break: break-all;
   }
}

@layer theme {
   .dark {}
}

body {
   @apply font-main text-neutral bg-background-100 text-lg;
}