@import "tailwindcss";

@font-face {
   font-family: 'Lettersano Regular';
   font-style: normal;
   font-weight: normal;
   font-display: swap;
   src: local('Lettersano Regular'), url('/fonts/fixedlettersano.woff') format('woff');
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --font-main: 'Lettersano Regular';


   --color-primary-900: hsl(164, 100%, 5%);
   --color-secondary: hsl(188, 4%, 38%);
   --color-background: hsl(124, 25%, 88%);

   --color-neutral: hsl(180, 2%, 75%);
}

@layer theme {
   .dark {}
}

body {
   @apply font-main text-black text-lg;
}