<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>New form</title>

    <style>
      .email-link {
        color: orange;
        text-decoration: none;
      }

      .email-container {
        font-family: Arial, sans-serif;
        font-size: 2.5rem;
        max-width: 600px;
        margin: 0 auto;
      }

      .email-footer {
        font-size: 1rem;
        color: #777;
        text-align: center;
        margin-top: 4rem;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div>
        <p><b>Name: </b>{{name}}</p>

        {{#if phone}}
        <p>
          <b>Phone: </b>
          {{phone}} ({{phoneCountry}})
        </p>

        {{/if}} {{#if email}}
        <p><b>Email: </b>{{email}}</p>

        {{/if}} {{#if message}}
        <p><b>message: </b>{{message}}</p>
        {{/if}}
      </div>

      <div class="email-footer">
        <p>&copy; 2025 Clinic. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
